*{
    font-family: GurajadaRegular,'Comic Sans MS', cursive;
}
@font-face {
    font-family: GurajadaRegular;
    src: url(/GurajadaRegular.ttf);
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.form {
    position: absolute;
    top: 50px;
    width: 600px;
    height: 700px;
    margin-left: 5%;
    padding: 30px;
    border: 5px solid rgb(42, 135, 105);
    border-radius: 15px;
}
.form_code {
    font-size: 70px;
    font-weight: 700;
}
textarea {
    font-family:Arial, Helvetica, sans-serif;
    width: 90%;
    height: 420px;
    font-size: 30px;
    padding: 20px;
    resize: none;
    border: 5px solid rgb(42, 135, 105);
    outline: none;
}
textarea:focus {
    box-shadow: 0 0 20px rgb(42, 135, 105);
}
.form_button {
    background-color: rgb(52, 174, 135);
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    width: 100%;
    height: 90px;
    border-radius: 30px;
    cursor: pointer;
}
.form_button:hover {
    background-color: rgb(42, 135, 105); 
}
.form_button:active {
    box-shadow: 4px 7px rgb(22, 71, 55);
}
.realiser {
    font-family:Arial, Helvetica, sans-serif;
    background-color: gray;
    position: absolute;
    top: 50px;
    width: 800px;
    height: 756px;
    right: 275px;
    padding: 5px;
    font-size: 30px;
    border: 5px solid rgb(42, 135, 105);
    border-radius: 15px;
    overflow: auto;
}